 	<div class= "mainBG col-sm-5">
			<div class= "row">
				<div class= "text-left col-sm-12"><h4>New Golfer</h4></div>
			</div>
			
			<div class= "row">
 			   <div class= "text-left col-sm-12">
				   <% if resource.errors.any? %>
					   <div class= "alert alert-danger">
				   		<%= render 'layouts/error_messages', object: resource %>
		   			   </div>
	   			   <%end%>
			   </div>
			</div>


	<%= form_for(@golfer, html: { method: :post, :role => "form", :class => "form-inline" }) do |f| %>
			<%= render :partial => "form", :locals=>{:f=>f} %>
		<br />
		<div class= "row">
				<div class= "text-left col-sm-3"></br>
					<div><%= f.submit "Submit", :class => "btn btn-primary" %></div>
				</div>
				
		</div>

	
	<% end %>
</div>


