		<div class= "mainBG col-sm-5">
			<div class= "row">
				<div class= "text-left col-sm-12"><h4><%= @group.name%> Group</h4></div>
			</div>
			<div class= "row">
				<div class= "text-left col-sm-12">Please Verify Group Password</div>
			</div>
			<div class= "row">
				<div class= "text-left col-sm-12"></br></div>
			</div>
			<div class= "row">
				<div class= "text-left col-sm-12">
					<%= form_tag(group_verify_password_path(:id => @group.id), :method => "get", id: "search-form") do %>
  					<%= text_field_tag :password, params[:password], placeholder: "Enter Group Password",  autofocus: true %>
					<%= submit_tag "Verify", :password => nil %>			
					<% end %>
				</div>
			</div>
			</br></br></br>
		</div>
