<%@rank += 1%>
<%score = user.score%>

<%if score > 50 && @line == false%>
<hr>
<%@line = true%>
<%end%>

<div class= "text-center col-sm-3"><%=@rank%></div>
<div class= "text-left col-sm-3"><%=link_to h(user.full_name), users_golfers_path(user.id) %></div>

<div class= "text-center col-sm-3">
	<%if score > 50%>
		<font color="#FF0000">MC</font>
	<%else%>
		<%=h score%>
	<%end%>
</div>
<div class= "text-center col-sm-3"><%=user.tiebreaker%></div>

