@import "bootstrap";

html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
  background: url('background.jpg');
  background-size: 1440px 800px;

}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

tr {
	line-height:  15px;
	min-height:  15px;
	height:  15px;
}


.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 4px;
}

.myGolferBG {
   background: #999;
}

.mainBG {
   background: #006600;
   color: #FFFFFF;
   padding: 10px;
}

.mainBG a { 
	color: #FFFFFF;
        text-decoration:underline;	
}

.mainBG a:hover { 
	color: #FFFFFF; 
	background-color:#000000; 
}


h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}
