@import "bootstrap";

/* comment text */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;

  background: url('background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

td.myGolfer{
	max-width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;

}

td.main{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
}

tr.myGolfer {
	line-height:  15px;
	min-height:  15px;
	height:  15px;
}
tr.main {
	line-height:  20px;
	min-height:  20px;
	height:  20px;
}

li.main{
	margin:0 0px 0px 0;
	verical-align:top
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 4px;
}

.myGolferBG {
   background: #999;
}

.mainBG {
   background: #006600;
   color: #FFFFFF;
   padding: 10px;
}

.mainBG a:link { 
	color: #FFFFFF;
        text-decoration:underline;	
}

.mainBG a:visited { 
	color: #FFFFFF;
        text-decoration:underline;	
}

.mainBG a:hover { 
	color: #FFFFFF; 
	background-color:#000000; 
}

.mainBG a:active { 
	max-width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #FFFFFF;
        text-decoration:underline;	
}

.text-span{
    width: 100%;
  }


.hideOverflow {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.field_with_errors {
  display: inline;
}

.field_with_errors input[class="form-control"] {
  border: 2px solid red;
}


.form-inline .row input {
    width:100%;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}


